# DocDocs gitignore file
.git
.idea
.vagrant
*.pyc
node_modules
vagrant
venv

# No need to store devlopment database files
*.db

# I was using nohup to pipe stdout from ipython for awhile. I only used it for a day or two but still
# am going to keep the entry in gitignore file
nohup.out

# Formats for files I use as scrap/scratch
mrosata*
*mrosata*
ipython-*

client_secrets.json
fb_client_secrets.json

docs/
__MACOSX
