@import url("https://fonts.googleapis.com/css?family=Covered+By+Your+Grace");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,900");
@import url("https://fonts.googleapis.com/css?family=Covered+By+Your+Grace");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,900");
@import url("https://fonts.googleapis.com/css?family=Covered+By+Your+Grace");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,900");
p {
  font-size: 15px;
  line-height: 1.5; }

.thumbnail img.fill {
  width: 100%;
  height: auto; }

body {
  font-size: 15px; }
  @media screen and (max-width: 39.9375em) {
    body h1 {
      font-size: 2.17rem; } }
  @media screen and (min-width: 40em) {
    body h1 {
      font-size: 2.34rem; } }
  body .callout {
    margin-bottom: 0; }
  body .main-content {
    padding-top: 1.7rem; }

.section-title {
  width: 100%; }
  .section-title h1, .section-title h2, .section-title h3, .section-title h4 {
    text-align: left;
    text-decoration: underline; }
  .section-title h1 {
    font-size: 2.08em; }
  .section-title h2 {
    font-size: 1.82em; }
  .section-title h3 {
    font-size: 1.67em; }
  .section-title h4 {
    font-size: 1.43em; }

.spacer {
  height: 1.7rem;
  width: 100%;
  float: none;
  clear: both; }

.add-new-form {
  font-size: 0.9rem; }
  .add-new-form label {
    font-size: 1rem; }

/*
 *  Profile Pages
 */
.tabs-menu-container.floating-menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0; }

.profile-fields .row {
  margin-top: 0.125rem; }
  .profile-fields .row.profile-action-buttons {
    margin-top: 1.25rem; }

.profile-fields .label.field {
  font-size: 1.025rem;
  font-weight: bold;
  border-radius: 2px;
  margin: 0.62rem 0 .275rem; }

.profile-fields .profile-field-container {
  min-height: 0.62rem; }

.profile-review .row {
  margin-bottom: 0.62rem; }

.row.top-nav {
  max-width: 100%; }
  .row.top-nav .menu {
    background-color: #292c2f;
    padding: 1.5rem 3rem;
    height: auto; }
    .row.top-nav .menu .header-logo {
      position: relative;
      font-family: "Covered By Your Grace", cursive; }
      .row.top-nav .menu .header-logo i {
        position: absolute;
        transform: scale(1.75);
        left: -2.1rem; }
    .row.top-nav .menu .inline-list {
      text-align: center; }
      .row.top-nav .menu .inline-list.account-action {
        font-size: 0.83rem; }
      .row.top-nav .menu .inline-list li {
        float: none;
        display: inline-block; }
      .row.top-nav .menu .inline-list a {
        color: #fff;
        padding-bottom: 0.5rem; }
        .row.top-nav .menu .inline-list a:hover {
          color: #87D37C;
          transition: all .3s ease-in-out; }
      .row.top-nav .menu .inline-list .active a {
        color: #87D37C; }
  .row.top-nav .menu .active-user-name {
    color: #0b97c4;
    font-weight: bold;
    padding: 0.25rem;
    position: absolute;
    top: 0;
    right: 0; }
    @media screen and (max-width: 323px) {
      .row.top-nav .menu .active-user-name {
        display: none; } }
  .row.top-nav .menu .account {
    display: none;
    position: absolute;
    top: 3%;
    right: 3%; }
    .row.top-nav .menu .account a, .row.top-nav .menu .account i {
      color: #fff; }
  @media only screen and (min-width: 40.063em) {
    .row.top-nav .menu {
      height: 5rem; }
      .row.top-nav .menu .inline-list {
        float: left;
        margin: 0 0 0 1.5rem; }
      .row.top-nav .menu a:hover {
        border-bottom: 2px solid #87D37C; } }
  .row.top-nav .menu .account-action {
    float: right;
    margin: -.15rem 0 0 0; }
    .row.top-nav .menu .account-action li {
      margin-left: .2rem; }
    .row.top-nav .menu .account-action a {
      padding: 0; }
    .row.top-nav .menu .account-action a.signup {
      font-weight: bold;
      background-color: #3d4146;
      border-radius: 3px; }
    @media screen and (min-width: 40em) {
      .row.top-nav .menu .account-action.active-user {
        margin: .6rem 0 0 0; } }
    @media screen and (min-width: 323px) {
      .row.top-nav .menu .account-action {
        margin: 0; }
        .row.top-nav .menu .account-action a {
          padding: 0.55rem 1rem; } }
  .row.top-nav .name {
    text-align: center;
    font-size: 1.15rem;
    line-height: 1;
    margin: 0 0 0.5rem 0;
    color: #fff; }
    .row.top-nav .name i {
      color: #87D37C;
      margin-right: 0.5rem; }
    @media screen and (min-width: 323px) {
      .row.top-nav .name {
        font-size: 1.33rem;
        margin: 0 0 0.55rem 0; } }
    @media only screen and (min-width: 40em) {
      .row.top-nav .name {
        font-size: 1.5rem;
        margin: 0 0 1rem 0;
        float: left; } }

.login-panel .welcome,
.login-form .welcome, .add-new-form .welcome,
.register-form .welcome {
  margin-bottom: 1.2rem; }

.login-panel form i,
.login-form form i, .add-new-form form i,
.register-form form i {
  font-size: 1.5rem;
  vertical-align: bottom; }

.login-panel form label,
.login-form form label, .add-new-form form label,
.register-form form label {
  font-weight: bold; }

.login-panel form input[type=checkbox],
.login-form form input[type=checkbox], .add-new-form form input[type=checkbox],
.register-form form input[type=checkbox] {
  width: 1.25em;
  height: 1.25em; }

.login-panel form .error-message li,
.login-form form .error-message li, .add-new-form form .error-message li,
.register-form form .error-message li {
  color: #ff3349;
  list-style: none;
  margin-top: -0.7rem;
  font-weight: bold; }

/*
 *  Flash Message Modals
 */
.flash-message-modal {
  margin-top: 0;
  padding: 0; }
  .flash-message-modal .title-bar {
    font-size: 1.1rem;
    text-indent: 0.2rem;
    vertical-align: baseline;
    padding: 0.65rem 0.65rem 0.3rem;
    margin: 0; }
  .flash-message-modal .row {
    overflow-y: hidden; }

.activity {
  padding: 0.6rem 0.6rem 0.6rem 0; }

.activity-info .activity-datetime {
  margin: 0;
  background: #eee;
  font-size: 0.8rem;
  padding: 0.23rem 1.35rem;
  text-align: center; }

.activity-info .activity-author {
  margin: 0;
  border: 1px solid #eee;
  padding: 0.165rem 0.33rem;
  font-size: 0.75rem;
  text-align: center; }
  .activity-info .activity-author span.username {
    color: #ff3349;
    font-weight: bold;
    text-align: left;
    margin: 0.25rem; }
  .activity-info .activity-author .user-role {
    color: #333333;
    font-weight: bold; }

.activity-desc {
  padding: 0.2rem 0 0 0.6rem;
  text-align: left;
  vertical-align: top; }
  .activity-desc .activity-desc-detail {
    margin: 0 0 0.25rem;
    font-size: 0.9rem;
    line-height: 1;
    padding: 0; }
  .activity-desc .activity-desc-time {
    font-weight: bold; }
  .activity-desc .button {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin: 0; }

/**
 *  DocDocs Callout (The logo and slogan found on most pages).
 */
.docdocs-text-logo {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 900;
  display: inline-block;
  padding: 0.1rem 0.3rem 0.15rem;
  line-height: 1;
  align-content: center;
  vertical-align: middle;
  background: #2199E8;
  transform: rotate(-2deg);
  color: #FEFEFE;
  border-radius: 2%/12%;
  text-transform: uppercase; }
  .docdocs-text-logo.error {
    color: #FAFBFA;
    background: #ff3349;
    font-size: 2.2rem;
    border-color: #ff413e;
    padding: 0.3rem 0.6rem 0.3rem;
    margin: 0; }
    @media screen and (max-width: 63.9375em) and (min-width: 40em) {
      .docdocs-text-logo.error {
        font-size: 3rem;
        text-align: center; } }
    @media screen and (max-width: 425px) {
      .docdocs-text-logo.error {
        font-size: 1.55rem; } }
    @media screen and (max-width: 325px) {
      .docdocs-text-logo.error {
        font-size: 1.2rem; } }
  @media screen and (max-width: 63.9375em) and (min-width: 40em) {
    .docdocs-text-logo {
      padding: 0.1rem 0.4rem 0.15rem; } }
  @media screen and (max-width: 74.9375em) and (min-width: 64em) {
    .docdocs-text-logo {
      padding: 0.175rem 0.6rem 0.3rem; } }

.callout.docdocs-main .button.hollow.secondary {
  border: 1px solid #87d37c;
  color: #fefffe;
  background-color: #3adb76; }
  .callout.docdocs-main .button.hollow.secondary:hover {
    color: #fafbfa;
    background-color: #22bb5b; }

.login-form, .add-new-form, .register-form {
  margin-top: 1.8rem;
  border: 1px solid #cacaca;
  padding: 1rem;
  border-radius: 3px; }

body.the-blog .main-content {
  background: #b9b9b9; }

.header.panel {
  margin: 3rem auto;
  border: 2px solid #444;
  background: #fefafe; }
  .header.panel p {
    font: 1.075rem "Avenir Next";
    padding: 1rem 2rem 2rem 2rem;
    margin-top: -1.25rem;
    color: #464646; }
    .header.panel p span {
      text-transform: uppercase;
      text-decoration: underline;
      letter-spacing: 1px;
      font-size: 0.85rem;
      font-weight: bold; }
  .header.panel .sign {
    background: #fff;
    width: 20rem;
    height: 2.25rem;
    max-width: 100%;
    border: 2px solid #555;
    border-bottom: 1px solid #555;
    position: relative;
    top: -2.3rem;
    z-index: 2;
    margin: auto; }
    .header.panel .sign h1 {
      text-transform: uppercase;
      font: bolder 0.875rem "Avenir Next";
      letter-spacing: 3px;
      color: #555;
      font-size: 0.75rem;
      text-align: center;
      line-height: 2.375rem; }
