
@import url("https://fonts.googleapis.com/css?family=Covered+By+Your+Grace");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,900");

$nav-background-color: #292c2f;
$nav-primary-color: #87D37C;
$para-font-size: 15px;
$cursive-font-family: 'Covered By Your Grace', cursive;
$display-font-family: 'Source Sans Pro', sans-serif;
$display-font-weight: 900;

$max-width-large: '74.9375em';
$min-width-large: '64em';
$max-width-medium: '63.9375em';
$min-width-medium: '40em';
$max-width-small: '39.9375em';

// My Social Buttons
$facebook-bg: #44619D;
$facebook-color: #FFFFFF;
$google-bg: #C93E32;
$google-color: #FEFEFE;
$github-bg: #333333;
$github-color: #F7F7F7;

$blog-bg: #D0D2F8;
$secondary: #DB3A3A;
$white-font: #fefffe;

$label-bg: #3A21E8;
$label-bg: #5E21E8;

$anchor-color: darken(#2199e8, 15%);
