@import "_settings";

p {
  font-size: $para-font-size;
  line-height: 1.5;
}
.thumbnail {
  img.fill {
    width: 100%;
    height: auto;
  }
}

body {
  font-size: 15px;

  h1 {
    @media screen and (max-width: $max-width-small) {
      font-size: 2.17rem;
    }
    @media screen and (min-width: $min-width-medium) {
      font-size: 2.34rem;
    }
  }

  .callout {
    margin-bottom: 0;
  }
  .main-content {
    // This is the large section of page under the callout
    padding-top: 1.7rem;
  }

  a {
    color: $anchor-color;
  }
}

.section-title {
  width: 100%;

  h1, h2, h3, h4 {
    text-align: left;
    text-decoration: underline;
  }
  h1 {
    font-size: 2.08em;
  }
  h2 {
    font-size: 1.82em;
  }
  h3 {
    font-size: 1.67em;
  }
  h4 {
    font-size: 1.43em;
  }
}


.size {
  &-sm {
    font-size: .8rem;
  }
  &-md {
    font-size:  1.2rem;
  }
  &-lg {
    font-size: 2.2rem;
  }
  &-xlg {
    font-size: 3rem;
  }
}
.spacer {
  height: 1.7rem;
  width: 100%;
  float: none;
  clear: both;
}


.button.hollow {

  &.secondary {
    border: 1px solid darken($secondary, 10%);
    color: $white-font;
    background-color: $secondary;

    &:hover {
      border-color: desaturate(adjust_hue(darken($secondary, 10%), 191), 7);
      background-color: desaturate(adjust_hue($secondary, 191), 7);
      color: $white-font;
    }
  }
}

@import "partials/_profile_page";
@import "partials/_review_pages";
@import "partials/_social_buttons";
@import "partials/_nav-header-with-login";
@import "partials/_flash-message-modals";
@import "partials/_recently_added_list";
@import "partials/_login-registration-pages";
@import "partials/_the-blog";
@import "partials/_index-hero";
