@import "_settings";

p {
  font-size: $para-font-size;
  line-height: 1.5;
}
.thumbnail {
  img.fill {
    width: 100%;
    height: auto;
  }
}

body {
  font-size: 15px;

  h1 {
    @media screen and (max-width: $max-width-small) {
      font-size: 2.17rem;
    }
    @media screen and (min-width: $min-width-medium) {
      font-size: 2.34rem;
    }
  }

  .callout {
    margin-bottom: 0;
  }
}

.section-title {
  width: 100%;

  h1, h2, h3, h4 {
    text-align: left;
    text-decoration: underline;
  }
  h1 {
    font-size: 2.08em;
  }
  h2 {
    font-size: 1.82em;
  }
  h3 {
    font-size: 1.67em;
  }
  h4 {
    font-size: 1.43em;
  }
}

.spacer {
  &.small:before {
    content: ' ';
    display: block;
    width: 100%;
    height: 1.2rem;
  }
  &.medium:before {
    content: ' ';
    display: block;
    width: 100%;
    height: 1.7rem;
  }
  &.large::before {
    content: ' ';
    display: block;
    width: 100%;
    height: 2.2rem;
  }
}


@import "partials/_docdoc-callout";
@import "partials/_profile_page";
@import "partials/_nav-header-with-login";
@import "partials/_recently_added_list";
@import "partials/_index-hero";