@import "_settings";

p {
  font-size: $para-font-size;
  line-height: 1.5;
}
.thumbnail {
  img.fill {
    width: 100%;
    height: auto;
  }
}

.section-title {
  width: 100%;

  h1, h2, h3, h4 {
    text-align: left;
    text-decoration: underline;
  }
  h1 {
    font-size: 2.08em;
  }
  h2 {
    font-size: 1.82em;
  }
  h3 {
    font-size: 1.67em;
  }
  h4 {
    font-size: 1.43em;
  }
}


.docdocs-text-logo {
  font-family: $display-font-family;
  font-weight: $display-font-weight;
  display: inline-block;
  padding: 0.1rem 0.3rem 0.15rem;
  line-height: 1;
  align-content: center;
  vertical-align: middle;
  background: #2199E8;
  transform: rotate(-2deg);
  color: #FEFEFE;
  border-radius: 2%/12%;
  text-transform: uppercase;

  @media screen and (max-width: $max-width-medium) and (min-width: $min-width-medium) {
    padding: 0.1rem 0.4rem 0.15rem;
  }
  @media screen and (max-width: $max-width-large) and (min-width: $min-width-large) {
    padding: 0.175rem 0.6rem 0.3rem;
  }
}


// This is profile page
.profile-fields {

  .row {
    margin-top: 0.125rem;
  }

  .label.field {
    font-size: 1.025rem;
    font-weight: bold;
    border-radius: 2px;
  }
}




@import "partials/_nav-header-with-login";
@import "partials/_recently_added_list";
@import "partials/_index-hero";