/*
 *  Flash Message Modals
 */
.flash-message-modal {
  margin-top: 0;
  padding: 0;

  .title-bar {
    font-size: 1.1rem;
    text-indent: 0.2rem;
    vertical-align: baseline;
    padding: 0.65rem 0.65rem 0.3rem;
    margin: 0;
  }

  .row {
    overflow-y: hidden;
  }
}