/**
 *  DocDocs Callout (The logo and slogan found on most pages).
 */
@import "../_settings";

.docdocs-text-logo {
  font-family: $display-font-family;
  font-weight: $display-font-weight;
  display: inline-block;
  padding: 0.1rem 0.3rem 0.15rem;
  line-height: 1;
  align-content: center;
  vertical-align: middle;
  background: #2199E8;
  transform: rotate(-2deg);
  color: #FEFEFE;
  border-radius: 2%/12%;
  text-transform: uppercase;

  &.error {
    color: #FAFBFA;
    background: #ff3349;
    font-size: 2.2rem;
    border-color: #ff413e;
    padding: 0.3rem 0.6rem 0.3rem;
    margin: 0;

    @media screen and (max-width: $max-width-medium) and (min-width: $min-width-medium) {
      font-size: 3rem;
      text-align: center;
    }
    @media screen and (max-width: 425px) {
      font-size: 1.55rem;
    }
    @media screen and (max-width: 325px) {
      font-size: 1.2rem;
    }
  }

  @media screen and (max-width: $max-width-medium) and (min-width: $min-width-medium) {
    padding: 0.1rem 0.4rem 0.15rem;
  }
  @media screen and (max-width: $max-width-large) and (min-width: $min-width-large) {
    padding: 0.175rem 0.6rem 0.3rem;
  }
}

// This is the "Jumbotron" type area right under the nav header but above the content of page
.callout.docdocs-main {

  .button.hollow {

    &.secondary {
      border: 1px solid #87d37c;
      color: #fefffe;
      background-color: #3adb76;

      &:hover {
        color: #fafbfa;
        background-color: #22bb5b;
      }
    }
  }
}
