/*
 *  Profile Pages
 */
.tabs-menu-container.floating-menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.profile-fields {

  .row {
    margin-top: 0.125rem;

    &.profile-action-buttons {
      margin-top: 1.25rem;
    }
  }

  .label.field {
    font-size: 1.025rem;
    font-weight: bold;
    border-radius: 2px;
    margin: 0.62rem 0 .275rem;
  }
  .profile-field-container {
    min-height: 0.62rem;
  }
}
