.activity {
  padding: 1rem 1rem 1rem 0;
}

.activity-info {

  .activity-datetime {
    margin: 0;
    background: #eee;
    font-size: 0.9rem;
    padding: 0.33rem 1.75rem;
    text-align: center;
  }

  .activity-author {
    margin: 0;
    border: 1px solid #eee;
    padding: 0.165rem 0.33rem;
    font-size: 0.75rem;
    text-align: center;

    span.username {
      font-weight: bold;
      text-align: left;
      margin: 0.25rem;
    }
  }
}

.activity-desc {
  padding: 0 0 0 1rem;
  text-align: left;
  vertical-align: top;

  .activity-desc-header {
    font-size: 1.15rem;
    font-weight: bold;
    margin: 0 0 0.5rem 0;
    padding: 0;
  }

  .activity-desc-detail {
    margin: 0 0 0.25rem;
    padding: 0;
  }

  .activity-desc-time {
    font-weight: bold;
  }

  .rsvp.button {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin: 0;
  }

}