.activity {
  padding: 0.6rem 0.6rem 0.6rem 0;
}

.activity-info {

  .activity-datetime {
    margin: 0;
    background: #eee;
    font-size: 0.8rem;
    padding: 0.23rem 1.35rem;
    text-align: center;
  }

  .activity-author {
    margin: 0;
    border: 1px solid #eee;
    padding: 0.165rem 0.33rem;
    font-size: 0.75rem;
    text-align: center;

    span.username {
      color: #ff3349;
      font-weight: bold;
      text-align: left;
      margin: 0.25rem;
    }

    .user-role {
      color: #333333;
      font-weight: bold;
    }
  }
}

.activity-desc {
  padding: 0.2rem 0 0 0.6rem;
  text-align: left;
  vertical-align: top;

  .activity-desc-detail {
    margin: 0 0 0.25rem;
    font-size: 0.9rem;
    line-height: 1;
    padding: 0;
  }

  .activity-desc-time {
    font-weight: bold;
  }

  .button {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin: 0;
  }

}